<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#A62319" />

    <title>Page not found!</title>
    <meta name="description" content="API for Samuel Sandoval" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
</head>

<body>
    <header>
        <h1>When is the next MCU film?</h1>
    </header>

    <main>
        <div>
            <h2>Error 404</h2>
            <p>That page does not exist!</p>
        </div>
    </main>
   
</body>

</html>


